.idex-view-panel .idex-module-box{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 50px;
	bottom: 10px;
	overflow: auto;
	padding-top: 15px;
}

.idex-view-panel .idex-module-item{
	float: left;
	width: 200px;
	margin: 3px 0px 25px 25px;
	padding: 30px 0px 5px 0px;
	text-align: center;
    font-family: arial,"Microsoft YaHei";
	cursor: default;
    color: #999;
}
.idex-view-panel .idex-module-item.blank{
	color: #DDD;
}
.idex-view-panel .idex-module-item .datetime{
	float: left;
	font-size: 12px;
	margin-top: -20px;
	margin-left: 10px;
}
.idex-view-panel .idex-module-item p{
	font-size: 36px;
	padding: 0px;
	overflow: hidden;
	margin: 20px 0px;
}
.idex-view-panel .idex-module-item em{
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
}

.idex-view-panel .idex-module-item:hover{
	border-color:#00B2FF;
	color:#00B2FF;
	margin-top: 0px;
	margin-bottom: 28px;
	transition: all 0.5s 0s ease;
}
.idex-view-panel .idex-module-item:hover .idex-mini-tbar{
	display: block;
}
.idex-view-panel .idex-module-item .bg.idex-icon{
	background-position: -120px -280px;
	width: 120px;
	height: 80px;
	margin: 0px auto;
}