.idex-history-tab-panel .idex-undo-icon .idex-icon{
	background-position: -90px -60px;
}
.idex-history-tab-panel .idex-cloud-snap-box .idex-snap-icon .idex-icon{
	background-position: -45px -60px;
}
.idex-history-tab-panel .idex-local-snap-box .idex-snap-icon .idex-icon{
	background-position: -60px -60px;
}
.idex-history-tab-panel .idex-list-item-icon.brush .idex-icon{
	background-position: -30px -60px;
}
.idex-history-tab-panel .idex-button.snap .idex-icon{
	background-position: -60px -15px;
}
.idex-history-tab-panel .idex-cloud-snap-box,.idex-history-tab-panel .idex-local-snap-box{
	border-bottom: 1px solid #3D3D3D;
	display: none;
	padding-bottom: 5px;
}
.idex-history-tab-panel .idex-tabview-box{
	min-height: 300px;
}
.idex-history-tab-panel .idex-cloud-snap-box .idex-list-check-item,.idex-history-tab-panel .idex-local-snap-box .idex-list-check-item{
	margin: -10px 0px 0px 0px;
	padding: 9px 5px 10px 5px;
}
.idex-history-tab-panel .idex-cloud-snap-item,.idex-history-tab-panel .idex-local-snap-item{
	padding-top: 10px;
	height: 35px;
}
.idex-history-tab-panel .idex-list-item{
	cursor: pointer;
}
.idex-history-tab-panel .idex-undo-item.disabled{
	opacity: 0.5;
}
/*
.idex-history-tab-panel .idex-tabview-box .idex-tabview.history::before {
	content: "";
	background-color: #1F1F1F;
	height: 1px;
	display: block;
}
*/
/*
.idex-float-box .idex-history-tab-panel{
	width: 200px;
}
*/
.idex-history-tab-panel .idex-list-item-title{
	height: 15px;
	width: 170px;
	margin-right: 0px;
	cursor: pointer;
}