.idex-select-picture-win{

}
.idex-select-picture-win .cB{
	color:#00AFFF;
}
.idex-select-picture-win .x-ui-win-body{
	width: 855px;
	padding: 5px;
}
.idex-select-picture-win .x-ui-tab-panel .x-ui-tabview{
	height: 480px;
	padding: 5px 0px;
}
.idex-select-picture-win .x-ui-tabview .idex-picture-tree{
	width: 190px;
	margin-right: 10px;
	height: 100%;
	float: left;
	overflow: auto;
}
.idex-select-picture-win .x-ui-floatbar-box{
	margin-left: 10px;
	width: 638px;
}
.idex-select-picture-win .x-ui-floatbar-box .idex-picture-right-box{
	float: right;
	margin-right: 4px;
}
.idex-select-picture-win .idex-page-toolbar{
	color: #999;
	text-align: center;
}
.idex-select-picture-win .idex-page-toolbar .idex-page-label,.idex-select-picture-win .idex-page-toolbar .idex-page-button{
	float: left;
	padding: 3px 11px;
	line-height: 22px;
	height: 28px;
	margin-left: 5px;
	border: 1px solid #DDD;
	border-radius: 3px;
	cursor: pointer;
}
.idex-select-picture-win .idex-page-toolbar .idex-page-label{
	padding: 3px 8px;
	background-color: #F5F5F5;
	cursor: default;
	box-shadow: inset 0px 1px 2px rgba(130, 130, 130, 0.1);
}
.idex-select-picture-win .idex-page-toolbar .idex-page-button.num{
	width: 30px;
	padding: 3px 0px;
}
.idex-select-picture-win .idex-page-toolbar .more{
	float: left;
	line-height: 24px;
	height: 28px;
	margin-left: 5px;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
}
.idex-select-picture-win .idex-page-toolbar .idex-page-button:hover{
	box-shadow: 0px 1px 2px #DBDBDB;
	border-bottom-color: #CECECE;
}
.idex-select-picture-win .idex-page-toolbar .idex-page-button.active:hover{
	box-shadow: none;
	cursor: default;
}
.idex-select-picture-win .idex-page-toolbar .idex-page-button.active{
	background-color: #00B2FF;
	color: #FFF;
	border-color: #00B2FF;
}
.idex-select-picture-win .idex-page-toolbar .idex-page-button.prev,.idex-select-picture-win .idex-page-toolbar .idex-page-button.next{
	padding: 3px 8px;
}
.idex-select-picture-win .x-ui-tabview .idex-picture-list{
	float: left;
	border-left: 1px solid #E9E9E9;
	width: 645px;
	height: 100%;
	overflow: hidden;
}
.idex-select-picture-win .idex-picture-item{
	float: left;
	width: 156px;
	height: 156px;
	border: 1px solid #DDD;
	padding: 2px;
	border-radius: 3px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item{
	width: 150px;
	height: 150px;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
}
.idex-select-picture-win .idex-picture-item img{
	float: left;
	width: 100%;
	height: 100%;
}
.idex-select-picture-win .idex-picture-item .pic-title{
	float: left;
	width: 100%;
	height: 20px;
	margin-top: -20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	line-height: 20px;
	text-align: center;
}
.idex-select-picture-win .idex-picture-list .select-title{
	float: left;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	color: #00A8FF;
	opacity: 0;
	margin-top: -144px;
	font-size: 32px;
	line-height: 150px;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.idex-select-picture-win .idex-picture-list .idex-picture-item:hover{
	border-color: #32B8EA;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item:hover .pic-title{
	display: none;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item:hover .select-title{
	opacity: 1;
	transition: all 0.5s 0s ease;
}
.idex-select-picture-win .x-ui-button .x-ui-icon.auto-match{
	background-position: -300px -60px;
}
/************************************************************************************/
.idex-picture-match-list{
	position: absolute;
	left: 10px;
	top: 75px;
	right: 14px;
	bottom: 15px;
	background-color: #FFF;
	overflow: auto;
}
.idex-picture-match-status-box{
	position: absolute;
	left: 200px;
	top: 42px;
	right: 10px;
	height: 30px;
	background-color: #FFF;
	line-height: 30px;
	color: #777;
	font-size: 12px;
}
.idex-picture-match-status-box em{
	font-style: normal;
}
.idex-picture-match-status-box .num{
	color:#FF7D00;
}
.idex-picture-match-status-box .status-l{
	color:#59B400;
	padding-left: 80px;
}
.idex-picture-match-status-box .status-l em{
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
}
.idex-picture-match-status-box .progress-l{
    padding-left: 200px;
}
.idex-picture-match-status-box .match-l{
    padding-left: 20px;
}