.idex-view-panel.home{
	padding: 10px;
	/* overflow: scroll; */
}

.idex-home-bottom-box{
	font-size: 25px;
	font-family: "Microsoft YaHei";
	color: #999;
	width: 900px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	bottom: 5px;
	left: 20px;
}
.idex-home-bottom-box .left{
    float: left;
    /* margin-left: 20px; */
}
.idex-home-bottom-box .right{
    float: right;
    /* margin-right: 10px; */
}

.idex-home-bottom-box .version{
	margin-right: 20px;
}
.idex-home-bottom-box .upgrade{
	margin-right: 5px;
}
.idex-home-bottom-box .renew{

}

.idex-view-panel.home .idex-shadow-box{
	float: left;
	width: 433px;
	margin: 10px;
}

.idex-view-panel.home .idex-shadow-box.list .count{
}
.idex-view-panel.home .idex-shadow-box .title{
	font-size: 30px;
	font-family: "Microsoft YaHei";
	color: #ccc;
	float: right;
	margin: 10px 20px 0px 0px;
}

.idex-view-panel.home .idex-shadow-box .content{
	font-size: 14px;
	font-family: SimSun;
	color: #aaa;
	float: left;
	width: 100%;
	line-height: 25px;
	padding: 30px;
	height: 150px;
	box-sizing: border-box;
}
.idex-view-panel.home .idex-shadow-box .count{
	font-size: 18px;
	font-family: "Microsoft YaHei";
	color: #999;
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
	cursor: pointer;
}
@media screen and (min-height:700px){
	.idex-view-panel.home .idex-shadow-box .content{
		height: 190px;
	} 
}
@media screen and (min-height:760px){
	.idex-view-panel.home .idex-shadow-box .content{
		height: 220px;
	} 
}