.idex-view-panel.home{
	padding: 15px;
	box-sizing: border-box;
}
.idex-view-panel.home .idex-shadow-box{
    position: absolute;
    width: 415px;
    height: 250px;
}
.idex-view-panel.home .idex-shadow-box.desc{
    left: 45px;
    top: 20px;
}
.idex-view-panel.home .idex-shadow-box.template{
    right: 45px;
    top: 20px;
}
.idex-view-panel.home .idex-shadow-box.module{
    left: 45px;
    top: 300px;
}
.idex-view-panel.home .idex-shadow-box.renovation{
    right: 45px;
    top: 300px;
}
.idex-view-panel.home .idex-shadow-box .title{
	font-size: 30px;
	font-family: 微软雅黑;
	color: #ccc;
	float: right;
	margin: 10px 20px 0px 0px;
}

.idex-view-panel.home .idex-shadow-box .content{
	font-size: 14px;
	font-family: 宋体;
	color: #aaa;
	position: absolute;
	top: 70px;
	left: 35px;
	width: 330px;
	line-height: 25px;
}
.idex-view-panel.home .idex-shadow-box .count{
	font-size: 18px;
	font-family: 微软雅黑;
	color: #999;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.idex-home-bottom-box{
	font-size: 25px;
	font-family: 微软雅黑;
	color: #999;
}
.idex-home-bottom-box .left{
    position: absolute;
    left: 45px;
    bottom: 15px;
}
.idex-home-bottom-box .right{
    position: absolute;
    right: 45px;
    bottom: 15px;
}

.idex-home-bottom-box .version{
	margin-right: 20px;
}
.idex-home-bottom-box .upgrade{
	margin-right: 5px;
}
.idex-home-bottom-box .renew{

}
