.idex-view-panel.list .x-ui-tabview{
    padding-top: 10px;
    overflow: hidden;
}
.idex-view-panel.list .x-ui-tabview-box{
}
.idex-list-form-box{
	position: absolute;
	width: 280px;
	top: 50px;
	bottom: 10px;
	overflow: hidden;
}
.idex-list-form-box .x-ui-form-box,.idex-list-form-box .x-ui-form,.idex-list-form-box .x-ui-form-table{
	height: 100%;
}
.idex-list-form-box .x-ui-form-box{
	min-height: 400px;
}
.idex-list-form-box .tree-item .x-ui-item-field{
	text-align: left;
	vertical-align: top;
}
.idex-list-form-box .idex-list-tree-box{
    min-height: 180px;
    height: 100%;
    overflow: auto;
}
.idex-list-view-box{
	position: absolute;
	left: 300px;
	right: 10px;
	top: 50px;
	bottom: 10px;
	border-left: 2px groove #FFF;
	padding-left:10px;
	overflow: hidden;
}
.idex-list-view-box .idex-list-view{
	height: 100%;
	overflow: auto;
}