.idex-view-panel.list .idex-module-box{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 70px;
	bottom: 10px;
	overflow: auto;
}

.idex-view-panel.list .idex-module-item{
	float: left;
	width: 200px;
	margin: 0px 0px 25px 25px;
	padding: 30px 0px 5px 0px;
	text-align: center;
	cursor: default;
}


.idex-view-panel.list .idex-module-item p{
    font-size: 36px;
    color: #DDD;
    padding: 15px 0px 25px 0px;
    margin: 0px;
    font-family: arial,微软雅黑;
    height: 80px;
}

.idex-view-panel.list .idex-module-item em{
    font-size: 12px;
	color:#808080;
    line-height: 20px;
}
.idex-view-panel.list .idex-module-item:hover{
	border-color:#00B2FF;
}
.idex-view-panel.list .idex-module-item:hover p{
	color:#00B2FF;
}

.idex-view-panel .idex-module-item .bg.idex-icon{
	background-position: -120px -280px;
	width: 120px;
	height: 80px;
	margin: 0px auto;
}