.idex-select-picture-win{

}
.idex-select-picture-win .x-ui-win-body{
	width: 890px;
	padding: 5px;
}
.idex-select-picture-win .x-ui-tab-panel .x-ui-tabview{
	height: 480px;
	padding: 5px 0px;
}
.idex-select-picture-win .x-ui-tabview .idex-picture-tree{
	width: 200px;
	height: 100%;
	float: left;
	overflow: auto;
}
.idex-select-picture-win .x-ui-floatbar-box{
	margin-left: 10px;
	width: 660px;
}
.idex-select-picture-win .x-ui-floatbar-box .idex-picture-right-box{
	float: right;
	/* margin-right: 10px; */
}
.idex-select-picture-win .idex-page-button{
	float: left;
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 3px 11px;
	line-height: 22px;
	height: 28px;
	margin-right: 10px;
	color: #999;
	cursor: pointer;
}

.idex-select-picture-win .idex-page-button:hover{
	box-shadow: 0px 1px 2px #DBDBDB;
	border-bottom-color: #CECECE;
}
.idex-select-picture-win .idex-page-button.prev,.idex-select-picture-win .idex-page-button.next{
	padding: 3px 8px;
}
.idex-select-picture-win .x-ui-tabview .idex-picture-list{
	float: left;
	border-left: 1px solid #E9E9E9;
	margin-left: 10px;
	width: 660px;
	height: 100%;
	overflow: auto;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item{
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid #DDD;
	padding: 2px;
	border-radius: 3px;
	margin: 0px 0px 10px 10px;
	overflow: hidden;
	cursor: pointer;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item img{
	float: left;
	width: 100%;
	height: 100%;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item .item-title{
	float: left;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	color: #00A8FF;
	opacity: 0;
	margin-top: -144px;
	font-size: 32px;
	line-height: 150px;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.idex-select-picture-win .idex-picture-list .idex-picture-item:hover{
	border-color: #32B8EA;
}
.idex-select-picture-win .idex-picture-list .idex-picture-item:hover .item-title{
	opacity: 1;
	transition: all 0.5s 0s ease;
}
.idex-select-picture-win .auto-select .x-ui-icon{
	background-position: -300px -60px;
}